**/build/**
**/Debug/**
**/x64/**
**/.vs/**

*.swp
/SVBRDFOculus/SVBRDFOculus/data
/SVBRDFOculus/SVBRDFOculus.VC.VC.opendb
/SVBRDFOculus/SVBRDFOculus.VC.db
/SVBRDFOculus/SVBRDFOculus.sdf
/SVBRDFOculus/SVBRDFOculus/SVBRDFOculus.vcxproj.user

bin/data/**/*.pfm
bin/data/**/*.dat
bin/data/**/*.png
bin/data/**/*.7z
bin/data/**/*.zip

